.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.custom-input {
  height: 200px; /* Ajuste a altura desejada */
  width: 80%;
  font-size: 24px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.custom-button {
  height: 60px;
  font-size: 20px;
}

.raiva {
  color: red;
}

.alegria {
  color: yellow;
}

.medo {
  color: purple;
}

.nojo {
  color: green;
}

.tristeza {
  color: blue;
}

.satisfação {
  color: orange;
}

.confiança {
  color: violet;
}

.amor{
  color: pink;
}

.esperança{
  color: lightblue;
}